// Breakpoints
$bp-narrow: "(min-width: 500px)";
$bp-mid: "(min-width: 800px)";
$bp-wide: "(min-width: 1266px)";

// Colours

$primary-text-color: #8cd790;
$secondary-text-color: #285943;
$primary-page-color: #0a090c;
$accent-color: #b33951;
$accent-color-alternate: #586f7c;