---
title: Home
layout: layouts/base.11ty.js
---




<form action="/api/add-idea" name="ideas" method="POST" netlify>
  <h2>It's time I laid this to rest</h2>
    <textarea name="description" class="idea-description" required placeholder="I had this great idea, see..."></textarea>
    <input type="text" name="title" class="idea-title" required placeholder="I called my idea...">
    <input type="text" name="name" class="idea-submitter" required placeholder="And they call me...">
    <input type="submit" value="OK, I'm ready to free myself of this burden">
</form>





<div class="latest-ideas">
{% for data in ideas %}
  <div class="idea">
    <h2>{{data.title}}</h2>
    <div class="idea-description">{{data.description}}</div>
    <div class="idea-submitter">{{data.user}}</div>
  </div>
{% endfor %}
</div>