---
title: Home
layout: layouts/base.11ty.js
---

<h1>Ideas RIP</h1>

<form action="/api/add-idea" name="ideas"  method="POST" netlify>
  <input type="text" name="title">
  <textarea name="description" id="description" cols="30" rows="10"></textarea>
  <input type="text" name="name">
  <input type="submit">
</form>


<div class="latest-ideas">
{% for idea in ideas %}
<div class="idea">
  <h2><a href="/idea/{{idea.path}}">{{idea.title}}</a></h2>
</div>
{% endfor %}
</div>